<!DOCTYPE html>
<html>
  <head>
    <title>Interlinked</title>
    <link rel="stylesheet" href="public/css/style.css" />
  </head>
  <body>
    {% block content %} {% endblock %}
    <script src="public/scripts/main.js"></script>
  </body>
</html>
