{% extends "baseLayout.njk" %} {% block content %}

<body>
  <h1>Upload your meeting below:</h1>
  <div id="uploadForm">
    <form action="/sign" method="POST" enctype="multipart/form-data">
      <label>enter your name:</label>
      <input type="text" name="userName" />

      <label>upload you image</label>
      <input type="file" name="image" />
      {# add requirement #}
      <fieldset>
        <legend>Select first category</legend>
        <label><input type="radio" name="firstChoice" value="sadness" required />
            sadness</label>
        <label><input type="radio" name="firstChoice" value="joy" /> Joy</label>
        <label><input type="radio" name="firstChoice" value="fear" /> Fear</label>
        <label><input type="radio" name="firstChoice" value="content" />
            Content</label>
      </fieldset>

      <fieldset>
        <legend>Select secondary category (optional)</legend>
        <label
          ><input type="radio" name="secondChoice" value="sadness" required />
          sadness</label
        >
        <label
          ><input type="radio" name="secondChoice" value="joy" /> Joy</label
        >
        <label><input type="radio" name="secondChoice" value="fear" /> Fear</label
        >
        <label
          ><input type="radio" name="secondChoice" value="content" />
          Content</label
        >
      </fieldset>

      <input type="submit" />
    </form>
  </div>
</body>

{% endblock %}
