{% extends "baseLayout.njk" %}

{% block content %}
<div>

    <h1 class="welcome"> Interlinked </h1>
    
    <button class= "form-button"><a href="/form">Contribute</a></button>

    <button class= "map-button"><a href="/map">Explore</a></button>
</div>
{% endblock %}
