{% extends "baseLayout.njk" %}

{% block content %}
<div class = "map-container">
    <div class = "photo-and-description">
        <img src= "{{ filePath }}">
        <p>{{ description }}</p>
    </div>
    
</div>
{% endblock %}
