{% extends "baseLayout.njk" %}

{% block styles %}
<div class="nav">
    <div  class="navbutton" id="homebutton" >
        <a href="/">H O M E</a>
    </div>
    <div class="navbutton">
        <a href="/form">U P L O A D  I M A G E</a>
    </div>
</div>
<link rel="stylesheet" href="../css/space.css" />
{% endblock %}

{% block content %}
<div id="map-container">
</div>


{% endblock %}