{% extends "baseLayout.njk" %}

{% block styles %}
<div class="nav">
    <div  class="navbutton" id="homebutton" >
        <a href="/">Home</a>
    </div>
    <div class="navbutton">
        <a href="/form">Upload Image</a>
    </div>
</div>
<link rel="stylesheet" href="../css/space.css" />
{% endblock %}

{% block content %}
<div id="map-container">
</div>


{% endblock %}